body{
    margin: 0;
}

/* переменные (цвета) */
:root{
    --main-color: #7a7c7b;
    --main-color-hover:black;
    --a-hover:rgba(0, 0, 0, 0.619)
}
/* scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(36, 36, 36, 1);
}
::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, 0.6);
    border-radius: 5px;
    box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1), inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}
/* header */
.pre-header{
    z-index: 9999;
    display: block;
    position: fixed;
    min-width: 100%;
}
.wrap{
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.panel{
    width: 70%;
    color: var(--main-color);
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;
}
.panel a{
    text-decoration: none;
    color: var(--main-color);
    
}
.panel a:hover{
    text-decoration: overline;
    color: var(--main-color-hover);
    transition: 0.5s;
}
header{
    z-index: 9999;
    display: flex;
    background: rgb(255, 255, 255);
    min-height: 40px;
    padding: 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.45);
}
.header-icon{
    display: flex;
    align-content: center;
    width: 180px;
    height: auto;
}
.header a{
    text-decoration: none;
    color: blueviolet;
}
.header-end{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    margin-top: 8px;
}
.header-end img{
    width: 20px;
    height: 20px;
}
/* сайт */
.content{
    top: 60px;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
/* welcome */
.welcome{
    display: flex;
    position: relative;
    height: 500px;
}
.background-for-welcome{
    display: flex;
    position: relative;
    width: 100%;
    background-color: black;
}
.welcome-content{
    display: flex ;
    color: var(--main-color-hover);
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.welcome-content a{
    width: 150px;
    height: 30px;
    white-space: nowrap;
    text-decoration: none;
    border: 1px solid silver;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.619);
    color: white;
    padding: 0px 10px;
    padding-top: 5px;
}
.welcome-content a:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.619);
    border-color: white;
    color: black;
}
.arrow2{
    height: 10px;
    width: 25px;
    filter: invert(1);
    padding-left: 5px;
    padding-top: 5px;
}

/* основная часть */

.main{
    display: flex;
    position: relative;
    height: 100%;
    margin-top: 30px;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.main-mebel{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}
.main-mebel-conteiner{
    min-width: 100%;
    border: 1px solid grey;
    height: 300px;
}
.main-mebel-content{
    display: flex;
    justify-content: space-between;
}
.main-mebel a{
    text-decoration: none;
    color: var(--main-color-hover);
    padding-left: 30px;
    padding-right: 30px;
}
.main-mebel a:hover{
    transition: 0.5s;
    background-color: var(--a-hover);
    color: #fff;
}
/* блок о нас */
.about{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.about-conteiner{
    display: flex;
    position: relative;
    margin-top: 60px;
    flex-direction: column;
}
.about-content{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
}
/* блок доставка */
.delivery{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.delivery-conteiner{
    display: flex;
    position: relative;
    margin-top: 60px;
    flex-direction: column;
}
.switch-text-1{
    display: flex;
    visibility: visible;

}
.switch-text-1-active{
    visibility: hidden;
}
.switch-text-2{
    display: flex;
    position:absolute;
    visibility: hidden;
}
.switch-text-2-active{
    visibility: visible;

}
.arrow-text{
    display: flex;
    border: 2px solid #A45B38;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.stat-bar{
    display: flex;
    border: 1px solid gray ;
    width: 15%;
    margin: 10px;
    flex-direction: row;
}
.bar-1{
    border: 1px solid #A45B38 ;
    width: 50%;
    height: 0px;
    visibility: visible;
}
.bar-1-active{
    visibility: hidden;
}
.bar-2{
    border: 1px solid #A45B38 ;
    width: 50%;
    height: 0px;
    visibility: hidden;
}
.bar-2-active{
    visibility: visible;
}
/* блок оплата */
.payment{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.payment-conteiner{
    display: flex;
    position: relative;
    margin-top: 60px;
    flex-direction: column;
}
.payment-content{
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}
/* footer */
footer{
    display: flex;
    position: relative;
    top: 60px;
    width: 100%;
    height: 200%;
    background-color: #A45B38;
}
.footer-conteiner{
    display: flex;
    position: relative;
    margin-top: 60px;
    width: 100%;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.footer-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 30px;
}
.footer-content a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
.footer-content a:hover{
    color: rgba(255, 255, 255, 1);
}
.footer-content h3{
    color: rgba(255, 255, 255, 1);
}
.end-footer{
    display: flex;
    border-top: 1px solid #fff;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.end-footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
.end-footer a:hover{
    color: rgba(255, 255, 255, 1);
}